NEXT_PUBLIC_SUPABASE_URL=https://gbhonsjdzeaxlqseyfgh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdiaG9uc2pkemVheGxxc2V5ZmdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUwMjQ2MDAsImV4cCI6MjA5MDYwMDYwMH0.xpxFaGs0ltw15YQYV_BKTVNKiHigbDxGLTPiyeTqVxM
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_NAME=Old Boy's Association
